html {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.55;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    color: blue;
}

a.add-task {
    text-decoration: none;
    color: lightslategray;
}

a.view-tasks {
    text-decoration: none;
    color: lightslategray;
    display: block;
    margin-top: 60px;
}

